.table {
	width: 400px;
}

th a {
	display: block;
}

th.sorted.asc:before {
    font-family: FontAwesome;
    content: "\f160";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

th.sorted.desc:before {
    font-family: FontAwesome;
    content: "\f161";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

